:root {
  --ct-width: 100vw;
}

body {
  margin: 0;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.cell {
  width: 50px;
  height: 50px;
}

.empty {
  background-color: green;
}

.block {
  background-color: brown;
}

.user {
  background-color: red;
}

.bomb {
  background-color: black;
  border-radius: 100%;
}

.flame {
  background-color: yellow;
}